## 제목2

# 제목1

In [4]:
print("Hello World")

Hello World

In [5]:
print("A")

A

## 삭제는 D를 두번

## M누르면 Markdown

## Markdown에서 다시 code로 돌아가려면 Y

In [6]:
value = input("값을 입력해주세요.")

값을 입력해주세요.10

In [7]:
value

'10'

In [8]:
x = 10

In [9]:
x

10

In [10]:
x,y,z = 10,20,30

In [11]:
x

10

In [12]:
y

20

In [13]:
z

30

# 1. 정수형

In [14]:
type(10)

int

In [15]:
type(10.0)

float

In [17]:
a = 2
b = 3
a, b

(2, 3)

In [19]:
a + b

5

In [20]:
a - b

-1

In [21]:
a*b

6

In [22]:
a/b

0.6666666666666666

In [23]:
a**b

8

In [24]:
a // b

0

In [25]:
a%b

2

In [26]:
a + b * a

8

In [27]:
print(a + b * a)
print(
    (a+b)*a
)

8
10

# 연습문제 1.

아래와 같이 a = 7, b = 3.0 로 초기화 하고
a를 b로 나누었을 때 몫과 나머지를 각각 c와 d 라는 변수에 초기화한 후 출력하라.
그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라.

In [30]:
a, b = 7, 3.0
c = a//b
d = a%b
print(c,d)
e = a**b
print(e)

2.0 1.0
343.0

# Type casting

In [32]:
a, b = 7, 3.0
type(a), type(b)

(int, float)

In [33]:
c = int(b)
type(c)

int

In [34]:
c

3

In [37]:
d = float(a)
print(type(d))
print(d)

<class 'float'>
7.0

# 연습문제 2.

반 평균을 구하시오.
단 변수를 사용하여 계산하고,
변수의 이름을 학생의 이름으로 하십시요.
반드시 정수로 출력하십시요.

In [42]:
mike, judy, sera = 80, 75,100
avg = (mike+judy+sera)/3
print(int(avg))

85

In [51]:
a = True
a

True

In [52]:
b = False
b

False

In [53]:
type(a)

bool

## 비교 연산자

In [54]:
a, b = 1, 2

In [59]:
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

True
True
False
False
False
True

In [63]:
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [65]:
print(True or True)
print(True and False)
print(False and False)

True
False
False

In [66]:
a = 10
print(a>10 or a==10)

True

In [67]:
not a >10 # True

True

# 연습문제 3.

사용자로부터 점수를 3개 입력받아
모든 점수가 65점보다 클 경우 True 아닐경우 False
를 출력하세요

In [78]:
a = int(input())
b = int(input())
c = int(input())

print(a>65 and b>65 and c>65)

90
90
90
True

# NoneType

In [79]:
a = None
a

In [80]:
print(a)

None

In [81]:
print(type(a))

<class 'NoneType'>

In [82]:
quote1 = "안녕하세요. 저는 이다영입니다."
quote1
type(quote1)

str

In [84]:
quote2 = '안녕하세요. 저는 이다영입니다.'
print(quote2)

안녕하세요. 저는 이다영입니다.

In [86]:
quote1 = """안녕하세요.
저는 이다영입니다.""" 
print(quote1)

안녕하세요.
저는 이다영입니다.

### 연산자

In [88]:
a = "사과"
b = "과일"
a+b

'사과과일'

In [89]:
a*3

'사과사과사과'

## Escape Code

In [90]:
print(quote1)

안녕하세요.
저는 이다영입니다.

In [92]:
quote1

'안녕하세요.\n저는 이다영입니다.'

In [96]:
quote = "안녕하세요. \n저는 이다영입니다"
print(quote)

안녕하세요.
저는 이다영입니다

In [99]:
quote2 = "\"이다영\"입니다."
print(quote2)

"이다영"입니다.

In [101]:
quote3 = '"이다영"입니다.'
print(quote3)

"이다영"입니다.

### lndexing, Slicing

In [104]:
quote = "안녕하세요. 이다영입니다."
quote

'안녕하세요. 이다영입니다.'

In [105]:
quote[0]

'안'

In [106]:
quote[1]

'녕'

In [107]:
quote[-1]

'.'

In [110]:
quote[0:6]

'안녕하세요.'

In [111]:
quote[3:12]

'세요. 이다영입니'

In [112]:
quote[:12]

'안녕하세요. 이다영입니'

In [113]:
quote[5:]

'. 이다영입니다.'

In [114]:
quote[::2]

'안하요 다입다'

In [115]:
quote[::3]

'안세 영다'

In [118]:
quote[::-3]

'.입이요녕'

## 연습문제 4.

a="20190505chicken19000"는 잘못 쓰여진 변수이다.
2019는 year이라는 변수에, 그 다음 0505를 day라는 변수에,
chicken을 menu라는 변수에, 19000을 money라는 변수에 
인덱싱을 사용하여 각각 저장하고 출력하시오.

In [123]:
a = "20190505chicken19000"

year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

print(year, day, menu, money)

2019 0505 chicken 19000

# 문자열 포맷팅

In [127]:
name = '이다영'
major = 'Industry'

In [128]:
intro = '안녕하세요. %s입니다. 전공은 %s입니다.'%(name, major)
intro

'안녕하세요. 이다영입니다. 전공은 Industry입니다.'

In [129]:
intro = '안녕하세요. {0}입니다. 전공은 {1}입니다.'.format(name, major)
intro

'안녕하세요. 이다영입니다. 전공은 Industry입니다.'

In [138]:
pi = 3.14159
pi_def = 'PI는 %.2f입니다.' % pi
pi_def

'PI는 3.14입니다.'

In [197]:
f"PI는 {pi:.2f}입니다."

'PI는 3.14입니다.'

## 연습 문제 5.

a="90:30:80"이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다.
문자열 인덱싱을 이용해 각 점수를 각각 
math, english, science 변수에 저장하고,
average 란 변수에 평균값을 저장하고 출력하시오.

이 때 출력의 형태는 “평균 점수는 ~~입니다.”로 하시오.

In [146]:
a = "90:30:80"

math = a[:2]
english = a[3:5]
science = a[6:8]

average= (int(math) + int(english) + int(science)) / 3

print("평균 점수는 %.2d입니다."%(average))

평균 점수는 66입니다.

In [151]:
quote = '안녕하세요. 이다영입니다.'
quote

'안녕하세요. 이다영입니다.'

In [152]:
len(quote)

14

In [153]:
quote.index(".")

5

In [154]:
"Apple".upper()

'APPLE'

In [155]:
"Apple".lower()

'apple'

In [156]:
quote.replace('.', '?')

'안녕하세요? 이다영입니다?'

In [157]:
quote

'안녕하세요. 이다영입니다.'

In [158]:
quote.count('다')

2

In [163]:
quote_list = quote.split('.')
quote_list

['안녕하세요', ' 이다영입니다', '']

In [168]:
".".join(quote_list)

'안녕하세요. 이다영입니다.'

In [171]:
a = "90:30:80"
b = a.split(':')
b

['90', '30', '80']

In [174]:
print('dfdfdf'.join(b))
print(type('dfdfdf'.join(b)))

90dfdfdf30dfdfdf80
<class 'str'>

In [173]:
fruit = 'Apple Banana'
fruit_list = fruit.split(' ')
fruit_list

['Apple', 'Banana']

In [175]:
", ".join(b)

'90, 30, 80'

## 연습 문제 6.

a="  90:30:80  "이고 :을 기준으로 각각 수학점수, 영어점수, 과학점수이다. 
문자열 함수를 이용해 공백을 제거하고,  
각 점수를 각각 math, english, science 변수에 저장한 후,
average 란 변수에 평균값을 저장하고 출력하시오.
이 때 출력의 형태는 “평균 점수는 ~~입니다.”로 하시오.

In [195]:
a = "  90:30:80   "

math, english, science = a.split(':')

average= (int(math) + int(english) + int(science)) / 3
print('평균 점수는 %d입니다.'%average)

평균 점수는 66입니다.

In [194]:
score_list = a.split(':')
score_list = list(map(int, score_list))
sum(score_list)/3

66.66666666666667

# List

In [198]:
a = [1, 3.14, "Apple", ['a', 'b', 'c']]
a

[1, 3.14, 'Apple', ['a', 'b', 'c']]

In [199]:
len(a)

4

In [201]:
b = []
type(b)

list

In [202]:
c = list()
c

[]

## Range

In [204]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [205]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [206]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [210]:
list1 = list(range(3, 30, 3))
list1

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [211]:
tuple1 = tuple(list1)
tuple1

(3, 6, 9, 12, 15, 18, 21, 24, 27)

In [213]:
list1[0]

3

In [214]:
list1[1:5]

[6, 9, 12, 15]

In [215]:
list1[1:5:2]

[6, 12]

# list update

In [217]:
list1[0] = 'a'

In [218]:
list1

['a', 6, 9, 12, 15, 18, 21, 24, 27]

In [220]:
list1[1:4] = ['b','c','d']
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24, 27]

In [221]:
del list1[-1]

In [223]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [224]:
a = 10
a

10

In [225]:
del a

In [226]:
a

NameError: name 'a' is not defined

In [227]:
list1

['a', 'b', 'c', 'd', 15, 18, 21, 24]

In [228]:
'a' in list1

True

In [229]:
'e' in list1

False

In [230]:
'a' not in list1

False

In [231]:
list1 + [10,20]

['a', 'b', 'c', 'd', 15, 18, 21, 24, 10, 20]

In [233]:
print(list1 * 3)

['a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24, 'a', 'b', 'c', 'd', 15, 18, 21, 24]

In [234]:
len(list1)

8

# 리스트 함수

## append & extend

In [239]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [240]:
list1.append('a')
list1

[0, 1, 2, 3, 4, 'a']

In [241]:
list1.extend(['b', 'c']) ## extend  => + = 과 동일
list1 ## extend는 리스트가 변하고 + =는 리스트가 변하지는 않는다

[0, 1, 2, 3, 4, 'a', 'b', 'c']

In [242]:
list1.append([3,4]) ## extend는 리스트가 들어와서 요소가 리스트에 들어가고 
## append는 리스트가 들어오면 오소가 아닌 리스트가 들어간다

In [243]:
list1

[0, 1, 2, 3, 4, 'a', 'b', 'c', [3, 4]]

In [245]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

## pop & remove

In [246]:
a = list1.pop()
print(list1)
print(a)

[0, 1, 2, 3]
4

In [247]:
b = list1.pop(1)
print(list1)
print(b)

[0, 2, 3]
1

In [248]:
list1.remove(2)
list1

[0, 3]

## insert

In [249]:
list1

[0, 3]

In [250]:
list1.insert(1,'a')
list1

[0, 'a', 3]

## count & sort & reverse & index

In [251]:
list1 = [1,1,2,2,3,4]
list1

[1, 1, 2, 2, 3, 4]

In [253]:
list1.count(1), list1.count(3)

(2, 1)

In [254]:
list1.index(2)

2

In [284]:
list1.reverse()
list1

[4, 3, 2, 2, 1, 1]

In [285]:
list1.sort()
list1

[1, 1, 2, 2, 3, 4]

In [286]:
list1.sort(reverse = True)
list1

[4, 3, 2, 2, 1, 1]

In [287]:
tuple1 = tuple(list1)
tuple1

(4, 3, 2, 2, 1, 1)

In [288]:
tuple1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [289]:
tuple1[1]

3

In [290]:
tuple1[1] = 7

TypeError: 'tuple' object does not support item assignment

## List 복사

In [291]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [293]:
list2 = list1
list2

[0, 1, 2, 3, 4]

In [294]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [295]:
list1 ## 값을 복사한 것이 아니라 주소값을 복사했기 때문에 list1은 list2의 변함에 따라 같이 변화한다

['a', 1, 2, 3, 4, 10]

In [296]:
a = 10
b = a
a, b

(10, 10)

In [298]:
b = 20
a ,b

(10, 20)

## copy

In [299]:
list1 = list(range(5))
list1

[0, 1, 2, 3, 4]

In [300]:
list2 = list1.copy()
list2

[0, 1, 2, 3, 4]

In [301]:
list2.append(10)
list2[0] = 'a'
list2

['a', 1, 2, 3, 4, 10]

In [302]:
list1

[0, 1, 2, 3, 4]

In [304]:
list1 = [
    [1,2,3], [4,5,6], [7,8,9]
]

In [306]:
list2 = list1.copy() ## 리스트는 바뀐다ㅠㅠㅠㅠㅠㅠㅠㅠ => deepcopy() 사용하기

In [307]:
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [308]:
list2[0][1] = 'a'

In [309]:
list2

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

In [310]:
list1

[[1, 'a', 3], [4, 5, 6], [7, 8, 9]]

## deepcopy

In [312]:
list1 = [
    [1,2,3], [4,5,6], [7,8,9]
]

In [311]:
import copy

In [313]:
list2 = copy.deepcopy(list1)
list2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [314]:
list2[0][0] = 'a'

In [315]:
list2

[['a', 2, 3], [4, 5, 6], [7, 8, 9]]

In [316]:
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Dictionary

In [317]:
a = {}
type(a)

dict

In [318]:
a = dict()
type(a)

dict

In [323]:
profile = {
    'name':'이다영', 
    'city' : 'Seoul',
    'height' : 155
}

In [321]:
profile

{'name': '이다영', 'addr': 'Seoul', 'height': 155}

In [322]:
profile['name']

'이다영'

In [324]:
profile['city']

'Seoul'

In [326]:
profile = dict(
    name = '이다영',
    city = 'Seoul',
    height = 155
)
profile

{'name': '이다영', 'city': 'Seoul', 'height': 155}

In [327]:
profile = dict(
    name = '이다영',
    city = 'Seoul',
    height = 155,
    friends = ['a', 'b', 'c']
)
profile

{'name': '이다영', 'city': 'Seoul', 'height': 155, 'friends': ['a', 'b', 'c']}

In [329]:
'이다영' in profile

False

In [330]:
'name' in profile ## dict은 key 중심, list는 value 중심

True

## Dictionary 함수

In [331]:
profile['name'] = 'a'
profile

{'name': 'a', 'city': 'Seoul', 'height': 155, 'friends': ['a', 'b', 'c']}

In [332]:
profile['name'] = '이다영'
profile

{'name': '이다영', 'city': 'Seoul', 'height': 155, 'friends': ['a', 'b', 'c']}

In [336]:
profile['city'] = 'Busan'
profile

{'name': '이다영', 'city': 'Busan', 'height': 155, 'friends': ['a', 'b', 'c']}

In [337]:
profile['math_score'] = 10
profile

{'name': '이다영',
 'city': 'Busan',
 'height': 155,
 'friends': ['a', 'b', 'c'],
 'math_score': 10}

In [339]:
profile.setdefault('english_score', 100) ## 없으면 쌍 추가
profile

{'name': '이다영',
 'city': 'Busan',
 'height': 155,
 'friends': ['a', 'b', 'c'],
 'math_score': 10,
 'english_score': 100}

In [340]:
profile.setdefault('english_score', 50) ## 없으면 쌍 추가
profile

{'name': '이다영',
 'city': 'Busan',
 'height': 155,
 'friends': ['a', 'b', 'c'],
 'math_score': 10,
 'english_score': 100}

In [341]:
profile.update({
    'math_score' : 50,
    'height' : 158
})
profile ## dict을 한번에 업데이트할때 유용하다

{'name': '이다영',
 'city': 'Busan',
 'height': 158,
 'friends': ['a', 'b', 'c'],
 'math_score': 50,
 'english_score': 100}

In [343]:
profile.get('name') ## 가장 중요하다

'이다영'

In [345]:
print(profile.get('comment')) ## 없는 키, 중요

None

In [346]:
profile.get('comment', []) ## comment라는 key가 없으면 빈 리스트를 반환, 중요

[]

In [348]:
height = profile.pop('height')
print(height)
print(profile)

158
{'name': '이다영', 'city': 'Busan', 'friends': ['a', 'b', 'c'], 'math_score': 50, 'english_score': 100}

In [349]:
profile.keys()

dict_keys(['name', 'city', 'friends', 'math_score', 'english_score'])

In [350]:
profile.values()

dict_values(['이다영', 'Busan', ['a', 'b', 'c'], 50, 100])

In [351]:
profile.items() ## 반환값이 리스트안의 튜플인데 그 튜플들은 dict이다

dict_items([('name', '이다영'), ('city', 'Busan'), ('friends', ['a', 'b', 'c']), ('math_score', 50), ('english_score', 100)])

In [353]:
profile.clear()
profile

{}

# Set

In [354]:
set1 = {1,2,3,3,3,3,3} ## 집합의 특증 : 중복이 없다
set1

{1, 2, 3}

In [355]:
list1 = [1,2,3,3,3,3,3]
list(set(list1))

[1, 2, 3]

In [356]:
set1

{1, 2, 3}

In [357]:
set2 = [3,4,5]
set2

[3, 4, 5]

In [361]:
set1, set2

({1, 2, 3}, [3, 4, 5])

## 집합 연산자 & 함수

In [362]:
set1 = {1,2,3}
set2 = {3,4,5}

In [363]:
set1 | set2 ## 합집합

{1, 2, 3, 4, 5}

In [364]:
set1 & set2 ## 교집합

{3}

In [366]:
set.intersection(set1, set2) ## 교집합

{3}

In [367]:
set1 - set2 ## 차집합

{1, 2}

In [368]:
set.difference(set1, set2) ## 차집합

{1, 2}

In [369]:
set1 ^ set2 ## 대칭차집합 -> 합집합에서 교집합만 제외한 것

{1, 2, 4, 5}

In [370]:
set.symmetric_difference(set1, set2) ## 위와 같음

{1, 2, 4, 5}

In [373]:
{1} <= set1 ##  {1}이 set1의 부분집합이다

True

In [374]:
{1} <= set2

False

In [376]:
set1.issubset(set2) ## set1이 set2의 부분집합인가?

False

In [377]:
{1}.issubset(set1)

True

In [378]:
{1,2,3}.isdisjoint({4,5,6}) # 교집합이 공집합인가?

True

In [380]:
{1,2,3}.isdisjoint({3,4,5})

False

In [381]:
set1.add(4)
set1

{1, 2, 3, 4}

## Bool 형변환

In [383]:
bool(0), bool(1), bool(2)

(False, True, True)

In [385]:
bool(0.0), bool(0.1)

(False, True)

In [386]:
bool("Hello")

True

In [389]:
bool("")

False

In [390]:
bool([])

False

In [391]:
bool([1])

True

In [392]:
bool({})

False

In [393]:
bool({'name' : 'a'})

True