In [1]:
x = 10

In [2]:
if  x == 10 :
    print("X는 10입니다.")

X는 10입니다.

In [3]:
if  x == 10 :
    print("X는 10입니다.")
    print("end code block") ## 4 block

X는 10입니다.
end code block

In [4]:
if x != 10 :
    print("X는 10이 아닙니다.")

In [5]:
if x == 10 :
    pass

In [6]:
if x > 3 and x < 20 :
    print("x는 3보다 크고 20보다 작습니다.")

x는 3보다 크고 20보다 작습니다.

In [8]:
if x>3:
    print("x는 3보다 큽니다.")
    if x>=10 :
        print("x는 10보다 크거나 같습니다.")
    if x<20 :
        print("x는 20보다 작습니다.")

x는 3보다 큽니다.
x는 10보다 크거나 같습니다.
x는 20보다 작습니다.

In [10]:
x = 3

In [11]:
if x > 5 :
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

x는 5보다 작거나 같습니다.

In [12]:
if x > 5:
    print('x는 5보다 큽니다.')
elif x>2 :
    print("x는 2보다 큽니다.")
elif x>0 :
    print("x는 0보다 큽니다.")
else :
    print("x는 음수입니다.")

x는 2보다 큽니다.

In [13]:
x = 10

In [15]:
if x > 0 :
    print("x는 0보다 큽니다.")
elif x > 3 :
    print("x는 3보다 큽니다.")
elif x > 8 :
    print("x는 8보다 큽니다.")
else :
    print("x는 음수입니다.")

x는 0보다 큽니다.

## 연습 문제1.

사용자로 점수를 3개 입력받아
모든 점수가 65점보다 클 경우 합격 아닐경우 불합격을 출력하세요
단, 0~100 이 아닌 숫자가 입력된경우 잘못된 “잘못된 점수가 입력되었습니다" 를 출력하세요

In [55]:
score = []
for i in range(3) :
    i = int(input("점수 : "))
    if i > 100 or i <  0 :
        print("잘못된 점수가 입력되었습니다.")
    else :
        score.append(i)
        
# print(score)

def pass_nonpass (score) :
    score_pnp = []
    for i in score :
        if i > 65 :
            score_pnp.append("합격")
        else :
            score_pnp.append("불합격")
    return score_pnp

panonpa = pass_nonpass(score)

if '불합격' in panonpa :
    print("불합격")
else :
    print("합격")

점수 : 1
점수 : 1
점수 : 1
불합격

In [42]:
## 선생님 답
a = int(input("점수입력1: "))
b = int(input("점수입력2: "))
c = int(input("점수입력3: "))

a,b,c = map(int, [a,b,c])

if (a not in range(101)) or (b not in range(101)) or (c not in range(101)) :
    print("잘못된 점수가 입력되었습니다.")
elif  a > 65 and b >65 and c > 65 :
        print("합격")
else :
    print("불합격")

점수입력1: 34
점수입력2: 57
점수입력3: 89
불합격

## 연습 문제2.

[홀수 짝수 판별기]
사용자로부터 정수를 하나 입력받아  
입력한 정수가 홀수인지 짝수인지 판별하여라.  
(** 0은 짝수라 하자.)

In [52]:
num = int(input("정수를 입력해주세요. : "))

if num == 0 :
    print("입력하신 0은 짝수입니다.")

elif num%2 == 0 :
    print("입력하신 %d는 짝수입니다." % num)
    
else :
    print("입력하신 %d는 홀수입니다." % num)

정수를 입력해주세요. : 101
입력하신 101는 홀수입니다.

# for문

In [56]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
for i in ['a', 'b', 'c'] :
    print(i)

a
b
c

In [60]:
profile = {
    "name" : "이다영",
    'city' : '서울'
}

for i in profile :
    print(i)

name
city

In [63]:
for i in "Orange" :
    print(i, end = " ")

O r a n g e

## 연습문제 1.

(1) 사용자로부터 정수를 입력받아, 해당 정수만큼 “안녕”을 출력하세요.

In [68]:
num = int(input("정수를 입력해주세요 : "))

a = "안녕"

for i in range(num) :
    print(a)

정수를 입력해주세요 : 10
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

(2) 사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기

In [69]:
num = int(input("정수를 입력해주세요 : "))

for i in range(num) :
    print("*"*(i+1))

정수를 입력해주세요 : 8
*
**
***
****
*****
******
*******
********

(3) 사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기(역순)

In [3]:
num = int(input("정수를 입력해주세요 : "))

for i in range(num) :
    print("*"*(num-i))

정수를 입력해주세요 : 10
**********
*********
********
*******
******
*****
****
***
**
*

## for문 중첩

In [14]:
for i in range(5) :
    print('i : ', i)
    for j in range(5) :
#         print('j : ', j)
        print("i*j :", i*j)
    print('-'*10)

i :  0
i*j : 0
i*j : 0
i*j : 0
i*j : 0
i*j : 0
----------
i :  1
i*j : 0
i*j : 1
i*j : 2
i*j : 3
i*j : 4
----------
i :  2
i*j : 0
i*j : 2
i*j : 4
i*j : 6
i*j : 8
----------
i :  3
i*j : 0
i*j : 3
i*j : 6
i*j : 9
i*j : 12
----------
i :  4
i*j : 0
i*j : 4
i*j : 8
i*j : 12
i*j : 16
----------

In [16]:
for i in range(5) :
    for j in range(5) :
        print("코드 실행")

코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행

In [19]:
l1 = ['a', 'b', 'c', 'd']
for i in enumerate(l1) :
    print(i) ## 튜플 출력

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [21]:
a, b = (10, 20) ## unpack
print(a)
print(b)

10
20

In [22]:
l1 = ['a', 'b', 'c', 'd']
for idx, value in enumerate(l1) :
    print(idx, value) ## 튜플 출력

0 a
1 b
2 c
3 d

In [27]:
l1 = ['a', 'b', 'c', 'd']

for idx, val in enumerate(l1) :
    if idx >= 2:
        l1[idx] = 0

In [28]:
l1

['a', 'b', 0, 0]

# 연습문제 2.

(1)  x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱한뒤 출력하세요
심화 : 출력과 리스트 x 의 값에도 모두 10을 곱해주세요

In [2]:
x = [3, 6, 9, 20, -7, 5] 

for i in x :
    print(i*10)

30
60
90
200
-70
50

In [12]:
x = [3, 6, 9, 20, -7, 5] 

for idx, val in enumerate(x) :
    x[idx] = (val*10)
    
print(x)

[30, 60, 90, 200, -70, 50]

(2)  y = {“math”: 70, “science”: 80, “english”: 20} 의 값의 모든 요소에 10을 더한뒤 출력하세요
심화 : 출력과 딕셔너리 y 의 값에도 모두 10을 더해주세요

In [90]:
y = {'math': 70, 'science': 80, 'english': 20}

for i in y.values() :
    print(i+10)
    
# for i in y : ## 선생님 답
#     print(y[i]+10)

80
90
30

In [91]:
y = {'math': 70, 'science': 80, 'english': 20}
# y_values = list(y.values())

# for idx, val in enumerate(y_values) :
#     y_values[idx] = val+10

# for idx, val in enumerate(y) :
#     y.update({str(val): int(y_values[int(idx)])})
# print(y)

for k in y : ## 선생님 답
    y[k] = y[k]+10
    print(y[k])
    
y

80
90
30

{'math': 80, 'science': 90, 'english': 30}

(3) 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요

In [77]:
num = int(input("정수입력 : "))

for i in range(1,10) :
    print(num,"*",i,'=',num*i)

정수입력 : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

## 연습문제 3.

(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요

In [92]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountian']

list1 = []
for i in word :
    if len(str(i)) >= 6 :
        list1.append(i)
    else :
        pass
list1

['school', 'science', 'mountian']

(2) 구구단을 1단부터 9단까지 출력하세요

In [100]:
for i in range(1,10) :
    for j in range(1,10) :
        print('{}*{}={}'.format(i,j,i*j), end = ' ')
    print()

1*1=1 1*2=2 1*3=3 1*4=4 1*5=5 1*6=6 1*7=7 1*8=8 1*9=9
2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

# 연습문제 4.

1-100 까지 숫자중
3과 5의 공배수일경우 “3과 5의 공배수”
나머지 숫자중 3의배수일경우 “3의배수”
나머지 숫자중 5의배수일경우 “5의배수”
모두 해당되지 않을경우 그냥숫자
를 출력하세요

심화 : 1-입력한숫자까지의 숫자중

In [108]:
a = int(input("정수 입력 : "))

list1 = list(range(1,(a+1)))

for i in list1 :
    num = int(i)
    if (num%3 ==0)and (num%5 ==0) :
        print("3과 5의 공배수")
    elif num%3 ==0 :
        print("3의 공배수")
    elif num%5 ==0 :
        print('5의 공배수')
    else :
        print(num)

정수 입력 : 10
1
2
3의 공배수
4
5의 공배수
3의 공배수
7
8
3의 공배수
5의 공배수

# While문

In [140]:
i = 0
while i < 5 :
    print("i", i)
    i+=1

i 0
i 1
i 2
i 3
i 4

In [141]:
i = input("s가 입력되면 멈춥니다.")
while i.upper() != 'S' :
    print("프로세스 동작중")
    i = input("s가 입력되면 멈춥니다.")

s가 입력되면 멈춥니다.2
프로세스 동작중
s가 입력되면 멈춥니다.5
프로세스 동작중
s가 입력되면 멈춥니다.6
프로세스 동작중
s가 입력되면 멈춥니다.8
프로세스 동작중
s가 입력되면 멈춥니다.32
프로세스 동작중
s가 입력되면 멈춥니다.ㄴ
프로세스 동작중
s가 입력되면 멈춥니다.s

In [145]:
sum_list = []
a = input("값을 입력해주세요 : ")
while a != 'S' and a != 's':
    sum_list.append(a)
    a = input("값을 입력해주세요 : ")

sum_list = map(int, sum_list)
print("합계는? {}".format(sum(sum_list)))

값을 입력해주세요 : 1
값을 입력해주세요 : 3
값을 입력해주세요 : 5
값을 입력해주세요 : 7
값을 입력해주세요 : s
합계는? 16

# 연습문제 6.(가위바위보 게임만들기)

가위(1), 바위(2), 보(3) 을 입력해주세요! : 3
유저 : 보, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요! : 2
유저 : 바위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요! : 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요! : 4

게임종료 (전체:3 ,승리:1)

1~3 을 입력하면 게임진행 이외의 숫자를 입력하면 게임종료
심화 : 비긴숫자도 출력하세요 (전체:3, 승리:1, 비김:1)

In [157]:
import random

com = random.randint(1,3)

user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요! : "))

game_round = 0
win = 0
same = 0

while user in list(range(1,4)) :
    if user == 1 : # 가위
        if com == 1 :
            print('유저: 가위, 컴퓨터: 가위') ## 비김
            same+=1
        elif com == 2 :
            print('유저: 가위, 컴퓨터: 바위') ## 짐
        elif com == 3 :
            print('유저: 가위, 컴퓨터: 보') ## 이김
            win+=1
    elif  user == 2 : # 바위
        if com == 1 :
            print('유저: 바위, 컴퓨터: 가위') ## 이김
            win+=1
        elif com == 2 :
            print('유저: 바위, 컴퓨터: 바위') ##비김
            same+=1
        elif com == 3 :
            print('유저: 바위, 컴퓨터: 보') ## 짐
    elif  user == 3 : # 보
        if com == 1 :
            print('유저: 보, 컴퓨터: 가위') ## 짐
        elif com == 2 :
            print('유저: 보, 컴퓨터: 바위') ## 이김
            win+=1
        elif com == 3 :
            print('유저: 보, 컴퓨터: 보') ## 비김
            same+=1
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요! : "))
    com = random.randint(1,3)
    game_round+=1

print("게임종료(전체 : {}, 승리 : {}, 비김 : {})".format(game_round, win, same))
        
## if문 안에 처음 비긴 경우를 쓰고 이긴 경우를 and로 쓰고.. 간단하게 짜는 방법있다

가위(1), 바위(2), 보(3) 을 입력해주세요! : 1
유저: 가위, 컴퓨터: 보
가위(1), 바위(2), 보(3) 을 입력해주세요! : 2
유저: 바위, 컴퓨터: 가위
가위(1), 바위(2), 보(3) 을 입력해주세요! : 3
유저: 보, 컴퓨터: 바위
가위(1), 바위(2), 보(3) 을 입력해주세요! : 4
게임종료(전체 : 3, 승리 : 3, 비김 : 0)

# Break, Continue

In [176]:
for i in range(5) :
    if i == 3 :
        break
    print(i)

0
1
2

In [177]:
for i in range(5) :
    if i == 3 :
        continue
    print(i)

0
1
2
4

In [180]:
## Loop
while True :
    print("Hello")
    num = input("s입력시 멈춥니다.")
    if num.lower() == 's' :
        break

Hello
s입력시 멈춥니다.1
Hello
s입력시 멈춥니다.2
Hello
s입력시 멈춥니다.g
Hello
s입력시 멈춥니다.h
Hello
s입력시 멈춥니다.s

# 연습문제 11.

(1) while 문과 break 문을 사용하여 사용자가 입력한 숫자만큼 반복하여 ‘hi’ 출력하기

In [199]:
num = int(input("정수 입력 : "))

count = 0
while True :
    print("hi")
    count+=1
    if count == num :
        break

정수 입력 : 2
hi
hi

(2) for 문과 continue 문을 사용하여 사용자가 입력한 숫자까지의 짝수를 출력하기

In [203]:
num = int(input("정수 입력 : "))

for i in range(0, (num+1)) :
    if i%2==0 :
        print(i)
    else :
        continue

정수 입력 : 11
0
2
4
6
8
10

# 연습문제 7.

randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고 
가장 큰 수를 구하는 코드를 작성하시오.

In [251]:
int_list = []
for i in range(100) :
    num = random.randint(1,1000)
    int_list.append(num)

print(max(int_list))

j = 0    
for i in int_list :
    if i >= j :
        temp = i
        j = i
print(temp)

995
995

In [255]:
int_list = []
for i in range(100) :
    num = random.randint(1,1000)
    int_list.append(num)
    j = 0    
    for i in int_list :
        if i >= j :
            temp = i
            j = i
print(temp)

print(max(int_list))

983
983

In [238]:
j = 0
for i in range(100) :
    i = random.randint(1,1000)
    if i > j :
        temp = i
        j = i
print(temp)

994

In [273]:
int_list = []
max_num = 0  
for i in range(100) :
    num = random.randint(1,1000)
    int_list.append(num)
    
    if num >= max_num :
        max_num = num
        
print(max_num)
print(max(int_list))

992
992

# 연습문제 8.

randint함수를 사용하여 정수(1~1000)로 이루어진 길이가 100개인 리스트 a를 만들고 
리스트의 모든 요소의 합계를 구하는 코드를 작성하시오.

예) a=[32, 45, 2, 5, 76] 일때, 출력결과는 160이 나와야 함.

In [225]:
count = 0
for i in range(100) :
    num = random.randint(1,1000)
    count += num

print(count)

52085

# 리스트 컴프리핸션

In [276]:
list1 = list(range(1,5))

In [277]:
a = [i*10 for i in list1]
a

[10, 20, 30, 40]

In [280]:
# 1부터 100까지의 숫자 중에서 3의 배수만 모아서 새로운 리스트 생성
a = [i for i in range(1, 101) if i%3==0]
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [286]:
new_list = [i*j for i in range(1,11) for j in range(1,11)]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [288]:
keys = ['city', 'name', 'height']
values = ['Seoul', '이다영', 155]

new_dict = {keys[i]: values[i] for i in range(len(keys))}
new_dict

{'city': 'Seoul', 'name': '이다영', 'height': 155}

## zip

In [292]:
for i in range(len(keys)) :
    k = keys[i]
    v = values[i]
    print(k,v)

city Seoul
name 이다영
height 155

In [294]:
list(zip(keys, values))

[('city', 'Seoul'), ('name', '이다영'), ('height', 155)]

In [295]:
dict(zip(keys, values))

{'city': 'Seoul', 'name': '이다영', 'height': 155}

In [297]:
for k, v in zip(keys, values) :
    print(k,v)

city Seoul
name 이다영
height 155

In [298]:
keys = ['city', 'name', 'height']
values = ['Seoul', '이다영', 155]
sample = ['a', 'b','c']
list(zip(keys, values, sample))

[('city', 'Seoul', 'a'), ('name', '이다영', 'b'), ('height', 155, 'c')]

# 연습문제 9.

(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountn”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요
(리스트 컴프리핸션을 사용해주세요)

In [218]:
word = ['school','game','piano','science', 'hotel', 'mountain']
a = [i for i in word if len(str(i))>=6]
print(a)

['school', 'science', 'mountain']

(2) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 리스트의 글자수가 들어가있는 새로운 리스트를 생성하세요
(리스트 컴프리핸션을 사용해주세요)

In [221]:
word = ['school','game','piano','science', 'hotel', 'mountain']
a = [len(i) for i in word ]
print(a)

[6, 4, 5, 7, 5, 8]

# 연습문제 10.

(1) 아래 두 리스트를 각 요소들을 곱해 새로운 리스트 C 를 만드세요
a = [[10, 20], [30, 40], [50, 60]]
b = [[2, 3], [4, 5], [6, 7]]

심화 2X3 리스트 a, b를 사용자로부터 입력받아 두 값을 곱해 새로운 리스트 C 를 만드세요

In [356]:
a = [[10, 20], [30, 40], [50, 60]] 
b = [[2, 3], [4, 5], [6, 7]]

a_list = []
for i, ival in enumerate(a) :
    for j , jval in enumerate(ival) :
        a_list.append(jval)
        
b_list = []
for i, ival in enumerate(b) :
    for j , jval in enumerate(ival) :
        b_list.append(jval)

def list_sum(a_list, b_list) :
    c = []
    for a_ind,i in enumerate(a_list) :
        for b_ind,j in enumerate(b_list) :
            if a_ind == b_ind :
                c.append(i*j)
    return c

c = list_sum(a_list, b_list)
print(c)

[20, 60, 120, 200, 300, 420]

In [359]:
a = [[10, 20], [30, 40], [50, 60]] 
b = [[2, 3], [4, 5], [6, 7]]

new_list=[]
for i in range(len(a)) :
    in_list = []
    for j in range(len(a[i])) :
        in_list.append(a[i][j] * b[i][j])
        
    new_list.append(in_list)
new_list

[[20, 60], [120, 200], [300, 420]]

In [363]:
for l1, l2 in zip(a,b) : ## unpack
    print(l1, l2)
    break

[10, 20] [2, 3]

In [366]:
for [a1, a2], [b1,b2] in zip(a,b) : ## unpack
    print(a1, a2)
    print(b1, b2)
    break

10 20
2 3

In [370]:
new_list = []
for [a1, a2], [b1,b2] in zip(a,b) :
    new_list.append([a1*b1, a2*b2])
new_list

[[20, 60], [120, 200], [300, 420]]

# 연습문제 11.

(1) 아래의 학습코드를 가지고 a 리스트가 [[1,2],[3,4],[5,6]] 와 같이 만들어지도록 수정하세요

In [5]:
a = []
num = 1
for i in range(3):
    line = []
    for j in range(2):
        line.append(num)
        num+=1
    a.append(line)
print(a)

[[1, 2], [3, 4], [5, 6]]

In [318]:
## 개미수열