In [1]:
x = 10

In [2]:
if  x == 10 :
    print("X는 10입니다.")

X는 10입니다.

In [3]:
if  x == 10 :
    print("X는 10입니다.")
    print("end code block") ## 4 block

X는 10입니다.
end code block

In [4]:
if x != 10 :
    print("X는 10이 아닙니다.")

In [5]:
if x == 10 :
    pass

In [6]:
if x > 3 and x < 20 :
    print("x는 3보다 크고 20보다 작습니다.")

x는 3보다 크고 20보다 작습니다.

In [8]:
if x>3:
    print("x는 3보다 큽니다.")
    if x>=10 :
        print("x는 10보다 크거나 같습니다.")
    if x<20 :
        print("x는 20보다 작습니다.")

x는 3보다 큽니다.
x는 10보다 크거나 같습니다.
x는 20보다 작습니다.

In [10]:
x = 3

In [11]:
if x > 5 :
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

x는 5보다 작거나 같습니다.

In [12]:
if x > 5:
    print('x는 5보다 큽니다.')
elif x>2 :
    print("x는 2보다 큽니다.")
elif x>0 :
    print("x는 0보다 큽니다.")
else :
    print("x는 음수입니다.")

x는 2보다 큽니다.

In [13]:
x = 10

In [15]:
if x > 0 :
    print("x는 0보다 큽니다.")
elif x > 3 :
    print("x는 3보다 큽니다.")
elif x > 8 :
    print("x는 8보다 큽니다.")
else :
    print("x는 음수입니다.")

x는 0보다 큽니다.

## 연습 문제1.

사용자로 점수를 3개 입력받아
모든 점수가 65점보다 클 경우 합격 아닐경우 불합격을 출력하세요
단, 0~100 이 아닌 숫자가 입력된경우 잘못된 “잘못된 점수가 입력되었습니다" 를 출력하세요

In [55]:
score = []
for i in range(3) :
    i = int(input("점수 : "))
    if i > 100 or i <  0 :
        print("잘못된 점수가 입력되었습니다.")
    else :
        score.append(i)
        
# print(score)

def pass_nonpass (score) :
    score_pnp = []
    for i in score :
        if i > 65 :
            score_pnp.append("합격")
        else :
            score_pnp.append("불합격")
    return score_pnp

panonpa = pass_nonpass(score)

if '불합격' in panonpa :
    print("불합격")
else :
    print("합격")

점수 : 1
점수 : 1
점수 : 1
불합격

In [42]:
## 선생님 답
a = int(input("점수입력1: "))
b = int(input("점수입력2: "))
c = int(input("점수입력3: "))

a,b,c = map(int, [a,b,c])

if (a not in range(101)) or (b not in range(101)) or (c not in range(101)) :
    print("잘못된 점수가 입력되었습니다.")
elif  a > 65 and b >65 and c > 65 :
        print("합격")
else :
    print("불합격")

점수입력1: 34
점수입력2: 57
점수입력3: 89
불합격

## 연습 문제2.

[홀수 짝수 판별기]
사용자로부터 정수를 하나 입력받아  
입력한 정수가 홀수인지 짝수인지 판별하여라.  
(** 0은 짝수라 하자.)

In [52]:
num = int(input("정수를 입력해주세요. : "))

if num == 0 :
    print("입력하신 0은 짝수입니다.")

elif num%2 == 0 :
    print("입력하신 %d는 짝수입니다." % num)
    
else :
    print("입력하신 %d는 홀수입니다." % num)

정수를 입력해주세요. : 101
입력하신 101는 홀수입니다.

# for문

In [56]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
for i in ['a', 'b', 'c'] :
    print(i)

a
b
c

In [60]:
profile = {
    "name" : "이다영",
    'city' : '서울'
}

for i in profile :
    print(i)

name
city

In [63]:
for i in "Orange" :
    print(i, end = " ")

O r a n g e

## 연습문제 1.

In [68]:
num = int(input("정수를 입력해주세요 : "))

a = "안녕"

for i in range(num) :
    print(a)

정수를 입력해주세요 : 10
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

In [69]:
num = int(input("정수를 입력해주세요 : "))

for i in range(num) :
    print("*"*(i+1))

정수를 입력해주세요 : 8
*
**
***
****
*****
******
*******
********

In [3]:
num = int(input("정수를 입력해주세요 : "))

for i in range(num) :
    print("*"*(num-i))

정수를 입력해주세요 : 10
**********
*********
********
*******
******
*****
****
***
**
*