In [1]:
x = 10

In [2]:
if  x == 10 :
    print("X는 10입니다.")

X는 10입니다.

In [3]:
if  x == 10 :
    print("X는 10입니다.")
    print("end code block") ## 4 block

X는 10입니다.
end code block

In [4]:
if x != 10 :
    print("X는 10이 아닙니다.")

In [5]:
if x == 10 :
    pass

In [6]:
if x > 3 and x < 20 :
    print("x는 3보다 크고 20보다 작습니다.")

x는 3보다 크고 20보다 작습니다.

In [8]:
if x>3:
    print("x는 3보다 큽니다.")
    if x>=10 :
        print("x는 10보다 크거나 같습니다.")
    if x<20 :
        print("x는 20보다 작습니다.")

x는 3보다 큽니다.
x는 10보다 크거나 같습니다.
x는 20보다 작습니다.

In [10]:
x = 3

In [11]:
if x > 5 :
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

x는 5보다 작거나 같습니다.

In [12]:
if x > 5:
    print('x는 5보다 큽니다.')
elif x>2 :
    print("x는 2보다 큽니다.")
elif x>0 :
    print("x는 0보다 큽니다.")
else :
    print("x는 음수입니다.")

x는 2보다 큽니다.

In [13]:
x = 10

In [15]:
if x > 0 :
    print("x는 0보다 큽니다.")
elif x > 3 :
    print("x는 3보다 큽니다.")
elif x > 8 :
    print("x는 8보다 큽니다.")
else :
    print("x는 음수입니다.")

x는 0보다 큽니다.

## 연습 문제1.

사용자로 점수를 3개 입력받아
모든 점수가 65점보다 클 경우 합격 아닐경우 불합격을 출력하세요
단, 0~100 이 아닌 숫자가 입력된경우 잘못된 “잘못된 점수가 입력되었습니다" 를 출력하세요

In [55]:
score = []
for i in range(3) :
    i = int(input("점수 : "))
    if i > 100 or i <  0 :
        print("잘못된 점수가 입력되었습니다.")
    else :
        score.append(i)
        
# print(score)

def pass_nonpass (score) :
    score_pnp = []
    for i in score :
        if i > 65 :
            score_pnp.append("합격")
        else :
            score_pnp.append("불합격")
    return score_pnp

panonpa = pass_nonpass(score)

if '불합격' in panonpa :
    print("불합격")
else :
    print("합격")

점수 : 1
점수 : 1
점수 : 1
불합격

In [42]:
## 선생님 답
a = int(input("점수입력1: "))
b = int(input("점수입력2: "))
c = int(input("점수입력3: "))

a,b,c = map(int, [a,b,c])

if (a not in range(101)) or (b not in range(101)) or (c not in range(101)) :
    print("잘못된 점수가 입력되었습니다.")
elif  a > 65 and b >65 and c > 65 :
        print("합격")
else :
    print("불합격")

점수입력1: 34
점수입력2: 57
점수입력3: 89
불합격

## 연습 문제2.

[홀수 짝수 판별기]
사용자로부터 정수를 하나 입력받아  
입력한 정수가 홀수인지 짝수인지 판별하여라.  
(** 0은 짝수라 하자.)

In [52]:
num = int(input("정수를 입력해주세요. : "))

if num == 0 :
    print("입력하신 0은 짝수입니다.")

elif num%2 == 0 :
    print("입력하신 %d는 짝수입니다." % num)
    
else :
    print("입력하신 %d는 홀수입니다." % num)

정수를 입력해주세요. : 101
입력하신 101는 홀수입니다.

# for문

In [56]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [57]:
for i in ['a', 'b', 'c'] :
    print(i)

a
b
c

In [60]:
profile = {
    "name" : "이다영",
    'city' : '서울'
}

for i in profile :
    print(i)

name
city

In [63]:
for i in "Orange" :
    print(i, end = " ")

O r a n g e

## 연습문제 1.

(1) 사용자로부터 정수를 입력받아, 해당 정수만큼 “안녕”을 출력하세요.

In [68]:
num = int(input("정수를 입력해주세요 : "))

a = "안녕"

for i in range(num) :
    print(a)

정수를 입력해주세요 : 10
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

(2) 사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기

In [69]:
num = int(input("정수를 입력해주세요 : "))

for i in range(num) :
    print("*"*(i+1))

정수를 입력해주세요 : 8
*
**
***
****
*****
******
*******
********

(3) 사용자로부터 정수를 입력받아, 입력된 정수 만큼 별 찍기(역순)

In [3]:
num = int(input("정수를 입력해주세요 : "))

for i in range(num) :
    print("*"*(num-i))

정수를 입력해주세요 : 10
**********
*********
********
*******
******
*****
****
***
**
*

## for문 중첩

In [14]:
for i in range(5) :
    print('i : ', i)
    for j in range(5) :
#         print('j : ', j)
        print("i*j :", i*j)
    print('-'*10)

i :  0
i*j : 0
i*j : 0
i*j : 0
i*j : 0
i*j : 0
----------
i :  1
i*j : 0
i*j : 1
i*j : 2
i*j : 3
i*j : 4
----------
i :  2
i*j : 0
i*j : 2
i*j : 4
i*j : 6
i*j : 8
----------
i :  3
i*j : 0
i*j : 3
i*j : 6
i*j : 9
i*j : 12
----------
i :  4
i*j : 0
i*j : 4
i*j : 8
i*j : 12
i*j : 16
----------

In [16]:
for i in range(5) :
    for j in range(5) :
        print("코드 실행")

코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행
코드 실행

In [19]:
l1 = ['a', 'b', 'c', 'd']
for i in enumerate(l1) :
    print(i) ## 튜플 출력

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [21]:
a, b = (10, 20) ## unpack
print(a)
print(b)

10
20

In [22]:
l1 = ['a', 'b', 'c', 'd']
for idx, value in enumerate(l1) :
    print(idx, value) ## 튜플 출력

0 a
1 b
2 c
3 d

In [27]:
l1 = ['a', 'b', 'c', 'd']

for idx, val in enumerate(l1) :
    if idx >= 2:
        l1[idx] = 0

In [28]:
l1

['a', 'b', 0, 0]

# 연습문제 2.

(1)  x = [3, 6, 9, 20, -7, 5] 의 값의 모든 요소에 10을 곱한뒤 출력하세요
심화 : 출력과 리스트 x 의 값에도 모두 10을 곱해주세요

In [2]:
x = [3, 6, 9, 20, -7, 5] 

for i in x :
    print(i*10)

30
60
90
200
-70
50

In [12]:
x = [3, 6, 9, 20, -7, 5] 

for idx, val in enumerate(x) :
    x[idx] = (val*10)
    
print(x)

[30, 60, 90, 200, -70, 50]

(2)  y = {“math”: 70, “science”: 80, “english”: 20} 의 값의 모든 요소에 10을 더한뒤 출력하세요
심화 : 출력과 딕셔너리 y 의 값에도 모두 10을 더해주세요

In [90]:
y = {'math': 70, 'science': 80, 'english': 20}

for i in y.values() :
    print(i+10)
    
# for i in y : ## 선생님 답
#     print(y[i]+10)

80
90
30

In [91]:
y = {'math': 70, 'science': 80, 'english': 20}
# y_values = list(y.values())

# for idx, val in enumerate(y_values) :
#     y_values[idx] = val+10

# for idx, val in enumerate(y) :
#     y.update({str(val): int(y_values[int(idx)])})
# print(y)

for k in y : ## 선생님 답
    y[k] = y[k]+10
    print(y[k])
    
y

80
90
30

{'math': 80, 'science': 90, 'english': 30}

(3) 숫자를 입력받고 입력받은 정수의 구구단을 출력하세요

In [77]:
num = int(input("정수입력 : "))

for i in range(1,10) :
    print(num,"*",i,'=',num*i)

정수입력 : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

## 연습문제 3.

(1) word = [“school”, “game”, “piano”, “science”, “hotel”, “mountian”] 중 글자수가 6글자 이상인 문자를 모아 새로운 리스트를 생성하세요

In [92]:
word = ['school', 'game', 'piano', 'science', 'hotel', 'mountian']

list1 = []
for i in word :
    if len(str(i)) >= 6 :
        list1.append(i)
    else :
        pass
list1

['school', 'science', 'mountian']

(2) 구구단을 1단부터 9단까지 출력하세요

In [100]:
for i in range(1,10) :
    for j in range(1,10) :
        print('{}*{}={}'.format(i,j,i*j), end = ' ')
    print()

1*1=1 1*2=2 1*3=3 1*4=4 1*5=5 1*6=6 1*7=7 1*8=8 1*9=9
2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

# 연습문제 4.

1-100 까지 숫자중
3과 5의 공배수일경우 “3과 5의 공배수”
나머지 숫자중 3의배수일경우 “3의배수”
나머지 숫자중 5의배수일경우 “5의배수”
모두 해당되지 않을경우 그냥숫자
를 출력하세요

심화 : 1-입력한숫자까지의 숫자중

In [103]:
list1 = list(range(1,101))

for i in list1 :
    num = int(i)
    if (num%3 ==0)and (num%5 ==0) :
        print("3과 5의 공배수")
    elif num%3 ==0 :
        print("3의 공배수")
    elif num%5 ==0 :
        print('5의 공배수')
    else :
        print(num)

1
2
3의 공배수
4
5의 공배수
3의 공배수
7
8
3의 공배수
5의 공배수
11
3의 공배수
13
14
3과 5의 공배수
16
17
3의 공배수
19
5의 공배수
3의 공배수
22
23
3의 공배수
5의 공배수
26
3의 공배수
28
29
3과 5의 공배수
31
32
3의 공배수
34
5의 공배수
3의 공배수
37
38
3의 공배수
5의 공배수
41
3의 공배수
43
44
3과 5의 공배수
46
47
3의 공배수
49
5의 공배수
3의 공배수
52
53
3의 공배수
5의 공배수
56
3의 공배수
58
59
3과 5의 공배수
61
62
3의 공배수
64
5의 공배수
3의 공배수
67
68
3의 공배수
5의 공배수
71
3의 공배수
73
74
3과 5의 공배수
76
77
3의 공배수
79
5의 공배수
3의 공배수
82
83
3의 공배수
5의 공배수
86
3의 공배수
88
89
3과 5의 공배수
91
92
3의 공배수
94
5의 공배수
3의 공배수
97
98
3의 공배수
5의 공배수