In [1]:
def add_num(num1, num2) :
    print("add_num 함수 실행")
    return num1 + num2

In [2]:
add_num(3, 5)

add_num 함수 실행

8

In [3]:
output = add_num(3,5)

add_num 함수 실행

In [4]:
output

8

In [11]:
## 인자X, return X
def func1() :
    print("Hello World")

In [13]:
func1()

Hello World

In [15]:
a = func1()
print(a)

Hello World
None

In [6]:
## 인자X, return O
def func2() :
    return ("Hello World")

In [17]:
a = func2()
a

'Hello World'

In [7]:
## 인자O, return O
def func3(name) :
    return "Hello %s" % name

In [21]:
a = func3("Python")
a

'Hello Python'

In [8]:
## 인자O, return X
def func4(name) :
    print("Hello %s" % name)

In [24]:
a = func4("Python")
print(a)

Hello Python
None

In [25]:
a = 1
b = 2
c = 5

def func1() :
    a = 3
    b = 4
    print(a, b, c) ## c는 전역변수
    return 

func1()

3 4 5

In [26]:
a, b, c

(1, 2, 5)

In [27]:
def func2() :
    a = 5
    b = 6
    
    func1()
    
    print(a,b)

In [28]:
func2()

3 4 5
5 6

In [29]:
a = 5
def func3() :
    global a ## 전역변수 자체의 값을 변경
    a = 1
    print(a)

In [30]:
func3()

1

In [31]:
print(a)

1

# 연습문제 1.

사칙연산 함수만들기
ex)
calc(5, 6)
덧셈: 11, 뺄셈: -1, 곱셈: 30, 나눗셈: 0.8333333333333334

a= calc(5,6)
return Type: (덧셈결과, 뺄셈결과, 곱셈결과, 나눗셈결과)

In [43]:
def calc(num1, num2) :
    num_sum = num1 + num2
    num_sub = num1 - num2
    num_mul  = num1*num2
    num_di = num1/num2
    
    return print("(덧셈:{}, 뺄셈:{}, 곱셈: {}, 나눗셈: {})".format(num_sum, num_sub, num_mul, num_di))
    
calc(5,6)

(덧셈:11, 뺄셈:-1, 곱셈: 30, 나눗셈: 0.8333333333333334)

# 연습문제 2.

해당값을 모두 찾아 위치를 리턴해주는 함수만들기

ex)
lis = [1, 2, 3, 1, 4, 2, 1]

allindex(lis, 1)

[0, 3, 6]


def allinedx(a, b):

In [39]:
def allindex(a, b):
    list1 = []
    for i, val in enumerate(a) :
        if val == b :
            list1.append(i)
        
    return list1

lis = [1,2,3,1,4,2,1]
allindex(lis, 1)

[0, 3, 6]

# lambda 함수

In [84]:
(lambda x : x**2)(5)

25

In [87]:
(lambda x, y : (x+y, x-y))(3,6)

(9, -3)

In [88]:
add = (lambda x,y:x+y)

In [90]:
add(3,4)

7

In [91]:
lis = [1,2,3,1,4,2,1]

In [93]:
list(map(str, lis))

['1', '2', '3', '1', '4', '2', '1']

In [95]:
list(map(lambda x : x**2, lis))

[1, 4, 9, 1, 16, 4, 1]

# 인수(Arguments)

In [96]:
def make_profile(name, email, height) :
    return {
        'name' : name,
        'email' : email,
        'height' : height
    }

In [97]:
make_profile('이다영', '@@', 155)

{'name': '이다영', 'email': '@@', 'height': 155}

In [98]:
make_profile("이다영", height = 155, email = '@@')

{'name': '이다영', 'email': '@@', 'height': 155}

## 가변인수(*args)

In [99]:
def add(*args):
    print(args)
    print(type(args))
    return sum(args)

In [102]:
a = add(1)

(1,)
<class 'tuple'>

In [103]:
a

1

In [105]:
a = add(1,2,3,4,5)
a

(1, 2, 3, 4, 5)
<class 'tuple'>

15

## 가변키워드인수(**kargs)

In [108]:
def make_profile(**kwagrs) :
    print(kwagrs)
    print(type(kwagrs))
    
    if kwagrs.get('email') :
        make_email()
    if kwagrs.get('password') :
        make_password(kwagrs['password'])
        
    return kwagrs

In [107]:
make_profile(name = "이다영", city = 'Seoul', email = '@@')

{'name': '이다영', 'city': 'Seoul', 'email': '@@'}
<class 'dict'>

{'name': '이다영', 'city': 'Seoul', 'email': '@@'}

In [109]:
def make_profile(name, email, city = 'Seoul', *friends, **kwargs) :
    result = {
        'name' : name, 
        'email' : email,
        'city' : city,
        'friends' : friends
    }
    result.update(kwargs)
    return result

In [110]:
make_profile("이다영", "@@")

{'name': '이다영', 'email': '@@', 'city': 'Seoul', 'friends': ()}

In [112]:
make_profile("이다영", '@@', 'Busan', 'judy', 'mike', intro = "Hi")

{'name': '이다영',
 'email': '@@',
 'city': 'Busan',
 'friends': ('judy', 'mike'),
 'intro': 'Hi'}

In [118]:
def func1(*args) :
    print(args)
    print(type(args))
    return sum(args)

In [119]:
list1 = [1,2,3,5,6]
func1(list1)

([1, 2, 3, 5, 6],)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [129]:
func1(*list1) ## 리스트를 풀어서 요소들을 전달

(1, 2, 3, 5, 6)
<class 'tuple'>

17

In [130]:
def validate_profile(**profile) : ## 묶어서 받는다
    print(profile)
    print(type(profile))
    
    if not profile.get('email') :
        return False
    
    if not profile['email'].count("0") :
        return False
    
    return True

In [138]:
profile = {
    'name' : '이다영',
    'city' : 'Seoul',
    'email' : '@@'
}

In [139]:
validate_profile(**profile) ## 풀어서 넣는다

{'name': '이다영', 'city': 'Seoul', 'email': '@@'}
<class 'dict'>

False

# 연습문제 3.

가변인수와 고정인수를 사용해 모든값을 더하거나 빼거나 곱하는 함수 작성

ex)
calc("+", 1, 2, 3, 4, 5) # 1 + 2 + 3 + 4 + 5
15

calc("-", 1, 2, 3, 4, 5) # 1 - 2 - 3 - 4 - 5
-13

calc("*", 1, 2, 3, 4, 5) # 1 * 2 * 3 * 4 * 5
120

In [171]:
import numpy as np

def calc(method, *args) :
    
    if method == '+' :
        return sum(args)
    
    elif method == '-' :
        sub_num = args[0]
        for i in args[1:] :
            sub_num -= i
        return sub_num
    
    elif method == "*" :
        mul_num = 1
        for i in args :
            mul_num *= i
        return mul_num
    
calc('+', 1,2,3,4,5)

15

# 연습문제 4.

가변인수를 이용 가장 높은값, 낮은값, 평균값을 구하는 함수 작성

ex)
calc(1,2,3,4,5)


최대값 : 5, 최소값 : 1, 평균값 : 3.0

In [169]:
def calc(*args) :
    args_list = list(args)
    max_num = max(args)
    min_num = min(args_list)
    avg_num = sum(args_list)/len(args_list)
    
    return print("최대값:{}, 최소값:{}, 평균값:{}".format(max_num, min_num, avg_num))

In [170]:
calc(1,2,3,4,5)

최대값:5, 최소값:1, 평균값:3.0