In [1]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import numpy as np
import pandas as pd
# from sklearn.datasets import load_breast_cancer

In [2]:
# data = load_breast_cancer()
# data_df = pd.DataFrame(data.data, columns=data.feature_names)

In [3]:
# data_df.head()

In [4]:
# data_df.info()

In [5]:
## 실행할 때마다 같은 결과를 출력하기 위해 설정
np.random.seed(3)
tf.random.set_seed(3)

## 준비된 수술 환자 데이터를 불러드립니다
Data_set = np.loadtxt("ThoraricSurgery.csv", delimiter=',')

In [6]:
X = Data_set[:,0:17]
Y = Data_set[:,17]

## 딥러닝 구조 결정(모델을 설정하고 실행하는 부분)
model = Sequential()
model.add(Dense(30,input_dim = 17, activation = 'relu'))
model.add(Dense(1,activation = 'sigmoid'))

## 딥러닝 실행
model.compile(loss='mean_squared_error', optimizer = 'adam', metrics = ['accuracy'])
model.fit(X, Y, epochs=30, batch_size=10)
print("\n Accuracy : %.4f" % (model.evaluate(X, Y)[1]))

Epoch 1/30
47/47 [==============================] - 0s 594us/step - loss: 0.1485 - accuracy: 0.8426
Epoch 2/30
47/47 [==============================] - 0s 539us/step - loss: 0.1402 - accuracy: 0.8511
Epoch 3/30
47/47 [==============================] - 0s 632us/step - loss: 0.1433 - accuracy: 0.8489
Epoch 4/30
47/47 [==============================] - 0s 590us/step - loss: 0.1395 - accuracy: 0.8511
Epoch 5/30
47/47 [==============================] - 0s 585us/step - loss: 0.1386 - accuracy: 0.8468
Epoch 6/30
47/47 [==============================] - 0s 577us/step - loss: 0.1407 - accuracy: 0.8511
Epoch 7/30
47/47 [==============================] - 0s 629us/step - loss: 0.1336 - accuracy: 0.8489
Epoch 8/30
47/47 [==============================] - 0s 562us/step - loss: 0.1384 - accuracy: 0.8511
Epoch 9/30
47/47 [==============================] - 0s 574us/step - loss: 0.1374 - accuracy: 0.8532
Epoch 10/30
47/47 [==============================] - 0s 604us/step - loss: 0.1376 - accuracy: 0.8468
Epoch 11/30
47/47 [==============================] - 0s 578us/step - loss: 0.1353 - accuracy: 0.8511
Epoch 12/30
47/47 [==============================] - 0s 557us/step - loss: 0.1392 - accuracy: 0.8511
Epoch 13/30
47/47 [==============================] - 0s 570us/step - loss: 0.1397 - accuracy: 0.8511
Epoch 14/30
47/47 [==============================] - 0s 580us/step - loss: 0.1341 - accuracy: 0.8489
Epoch 15/30
47/47 [==============================] - 0s 596us/step - loss: 0.1362 - accuracy: 0.8532
Epoch 16/30
47/47 [==============================] - 0s 576us/step - loss: 0.1376 - accuracy: 0.8426
Epoch 17/30
47/47 [==============================] - 0s 580us/step - loss: 0.1322 - accuracy: 0.8468
Epoch 18/30
47/47 [==============================] - 0s 575us/step - loss: 0.1407 - accuracy: 0.8489
Epoch 19/30
47/47 [==============================] - 0s 576us/step - loss: 0.1346 - accuracy: 0.8489
Epoch 20/30
47/47 [==============================] - 0s 581us/step - loss: 0.1307 - accuracy: 0.8532
Epoch 21/30
47/47 [==============================] - 0s 574us/step - loss: 0.1353 - accuracy: 0.8468
Epoch 22/30
47/47 [==============================] - 0s 576us/step - loss: 0.1424 - accuracy: 0.8511
Epoch 23/30
47/47 [==============================] - 0s 587us/step - loss: 0.1356 - accuracy: 0.8468
Epoch 24/30
47/47 [==============================] - 0s 558us/step - loss: 0.1382 - accuracy: 0.8489
Epoch 25/30
47/47 [==============================] - 0s 604us/step - loss: 0.1332 - accuracy: 0.8511
Epoch 26/30
47/47 [==============================] - 0s 609us/step - loss: 0.1312 - accuracy: 0.8489
Epoch 27/30
47/47 [==============================] - 0s 567us/step - loss: 0.1320 - accuracy: 0.8489
Epoch 28/30
47/47 [==============================] - 0s 571us/step - loss: 0.1364 - accuracy: 0.8468
Epoch 29/30
47/47 [==============================] - 0s 564us/step - loss: 0.1350 - accuracy: 0.8532
Epoch 30/30
47/47 [==============================] - 0s 585us/step - loss: 0.1412 - accuracy: 0.8511
15/15 [==============================] - 0s 467us/step - loss: 0.1378 - accuracy: 0.8511

 Accuracy : 0.8511

In [7]:
print(type(Data_set))

<class 'numpy.ndarray'>

In [8]:
print(Data_set)

[[293.     1.     3.8  ...   0.    62.     0.  ]
 [  1.     2.     2.88 ...   0.    60.     0.  ]
 [  8.     2.     3.19 ...   0.    66.     1.  ]
 ...
 [406.     6.     5.36 ...   0.    62.     0.  ]
 [ 25.     8.     4.32 ...   0.    58.     1.  ]
 [447.     8.     5.2  ...   0.    49.     0.  ]]

In [9]:
df = pd.DataFrame(Data_set)
df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,293.0,1.0,3.80,2.80,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,62.0,0.0
1,1.0,2.0,2.88,2.16,1.0,0.0,0.0,0.0,1.0,1.0,14.0,0.0,0.0,0.0,1.0,0.0,60.0,0.0
2,8.0,2.0,3.19,2.50,1.0,0.0,0.0,0.0,1.0,0.0,11.0,0.0,0.0,1.0,1.0,0.0,66.0,1.0
3,14.0,2.0,3.98,3.06,2.0,0.0,0.0,0.0,1.0,1.0,14.0,0.0,0.0,0.0,1.0,0.0,80.0,1.0
4,17.0,2.0,2.21,1.88,0.0,0.0,1.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,56.0,0.0
5,18.0,2.0,2.96,1.67,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,61.0,0.0
6,35.0,2.0,2.76,2.20,1.0,0.0,0.0,0.0,1.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,76.0,0.0
7,42.0,2.0,3.24,2.52,1.0,0.0,0.0,0.0,1.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,63.0,1.0
8,65.0,2.0,3.15,2.76,1.0,0.0,1.0,0.0,1.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,59.0,0.0
9,111.0,2.0,4.48,4.20,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,55.0,0.0

In [10]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
465,98.0,6.0,3.04,2.40,2.0,0.0,0.0,0.0,1.0,0.0,11.0,0.0,0.0,0.0,1.0,0.0,76.0,0.0
466,369.0,6.0,3.88,2.72,1.0,0.0,0.0,0.0,1.0,0.0,12.0,0.0,0.0,0.0,1.0,0.0,77.0,0.0
467,406.0,6.0,5.36,3.96,1.0,0.0,0.0,0.0,1.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,62.0,0.0
468,25.0,8.0,4.32,3.20,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,58.0,1.0
469,447.0,8.0,5.20,4.10,0.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,49.0,0.0